<%= render 'home/header' %>

<section class="section pt-3" style="margin: 20px;">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <p class="title is-5 border-bottom pb-3 has-text-centered">Welcome 👋🏻</p>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Location</h5>
            <p class="card-text">You can view locations here.</p>
            <%= link_to 'See Locations', locations_userloc_path, class: 'btn btn-primary mt-2' %>
          </div>
        </div>
      </div>


      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Stations</h5>
            <p class="card-text">Check nearest stations.</p>
            <%= link_to 'See Stations', stations_userstations_path, class: 'btn btn-primary mt-2' %>
          </div>
        </div>
        </div>
        <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Power Banks</h5>
            <p class="card-text">view avilable powerbanks and rent them!</p>
            <%= link_to 'See Power Banks', powerbanks_userpowerbanks_path, class: 'btn btn-primary mt-2' %>
          </div>
        </div>
      </div>

     
    </div>
  </div>
</section>
